body {
  background-color: #f1f1f2;
  margin: 0;
  padding: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif;
  font-size: 0.75em;
  margin-left: auto;
  margin-right: auto;
}

.header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f1f1f2;
  list-style: none;
  margin: 0;
}

.header .mySpan {
  display: flex;
  align-items: center;
  /* color: #f68b1e; */
  color: blue;
}

.header .main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .main a {
  text-decoration: none;
}

.header .main a:hover {
  text-decoration: underline;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72px;
  gap: 40px;
  z-index: 1000;
  background-color: #ffffff;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffff;
}

.header-container {
  margin: 0 128px 0 128px;
  padding-bottom: 16px 0 16px 0;
}

input[type="text"] {
  flex: 1;
  padding: 13px 24px 13px 48px;
  width: 500px;
  border-radius: 5px;
  background-image: url("./images/search.png");
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
}

input[type="text"]::placeholder {
  font-size: 15px;
  padding-left: 0;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#search-form {
  margin: 0;
}

.icon ul {
  list-style: none;
  padding: 0;
}

.icon li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.icon li a i {
  margin-right: 10px;
}

.main-header button {
  /* background-color: #f68b1e; */
  background-color: #3396d3;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main-header button:hover {
  /* background-color: #ffba00; */
  background-color: #1573ad;
  color: #fff;
}

.main-header a {
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.main-header ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main-body {
  background: url("./images/background.png") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.max-width {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
}

.stores {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 25px;
}

.boxes-container {
  display: flex;
  gap: 20px;
  padding: 30px 0px;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  box-sizing: border-box;
}

.box-1 {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 8px;
  overflow: hidden;
  text-wrap: nowrap;
  width: 20%;
  text-align: left;
}

.box-1 ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.box-1 li {
  display: flex;
  align-items: center;
  gap: 2px;
}

.box-1 li:hover {
  /* color: #f68b1e; */
  color: blue;
}

.box-3 ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.box-3 li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.fa-regular {
  font-size: 20px;
}

.boxes-container li {
  text-align: left;
}

.box-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

/* .cards {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.flex-container {
  width: 100%;
  background-color: red;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

.flex-container > div {
  background-color: #f1f1f1;
}

.flex-container div img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 8px;
}

.flex-container h4 {
  margin: 0px;
} */

.box-3 ul {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

.box-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 20%;
}

.box-3 img {
  flex: 1;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0;
}

.row-2 {
  background-color: white;
  padding: 8px;
  border-radius: 4px;
  height: 252px;
}

.row-2 img {
  width: 100%;
  height: 100%;
}

.row-3 {
  width: 100%;
  background-color: #f1f1f2;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

.explore-row {
  width: 100%;
  background-color: #f1f1f2;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

.row-explore {
  background-color: #f1f1f2;
  font-weight: 500;
  padding-right: 16px;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-3 div img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 8px;
}

.power-up {
  width: 100%;
  background-color: #f1f1f2;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

.row-3-para {
  background-color: #ffba00;
  padding-right: 16px;
  min-height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-3-para h1 {
  font-size: 18px;
  margin-left: 15px;
  font-weight: 500;
}

.para-top {
  background-color: #f1f1f2;
  min-height: 40px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.para-top h1 {
  font-size: 20px;
  margin-left: 15px;
  font-weight: 500;
}

.para {
  background-color: #ffba00;
  font-weight: 500;
  padding-right: 16px;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.para-only {
  background-color: #e61601;
  padding-right: 16px;
  min-height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f1f1f2;
}

.para-only h1 {
  font-size: 18px;
  margin-left: 15px;
  font-weight: 500;
}

.mark-up {
  background-color: #fff;
  padding: 25px;
  border-radius: 4px;
  box-sizing: border box;
  margin-bottom: 70px;
}

.img-line {
  text-decoration: line-through;
  margin: 0;
  padding: 0;
}

.number {
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.mySlides {
  display: none;
}

.icon a:hover {
  /* color: #f68b1e; */
  color: #3396d3;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.img-hover:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

.prev:hover,
.next:hover {
  background-color: #a3a3a6;
  border-radius: 50px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  /*display: inline-flex;*/
  transition: background-color 0.6s ease;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.slideshow-container .fade {
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.mySlides {
  display: none;
}

.mySlides.active {
  display: block;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/*.carousel {
    display: flex;
    overflow: hidden;
}

.slide {
    width: 100%;
    transition: transform 0.5s ease;
}

.slide img {}

 On hover, adjust transition to slide all images 
.carousel:hover .slide {
    transform: translateX(-33.33%);
}*/

.text {
  font-size: 15px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.text-img {
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  padding: 0;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #313133;
  color: #f1f1f2;
  box-sizing: border-box;
  padding: 30px;
}

.main-footer {
  display: flex;
  justify-content: space-evenly;
  color: #f1f1f2;
}

.main-footer li {
  list-style: none;
}

.main-footer h3 {
  font-size: 13px;
}

.footer-container {
  background-color: #535357;
}

.country-footer {
  display: flex;
  justify-content: space-evenly;
}

.sub-footer {
  display: flex;
  gap: 250px;
  padding: 30px 0 0 0;
}

.sub-footer h3 {
  color: white;
}

.fa-brands {
  font-size: 18px;
}

.subscription-form input[type="email"] {
  width: 45%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.subscription-form .gender-btn {
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #313133;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.3s;
}

.subscription-form .gender-btn:hover {
  border-color: orange;
}

.subscription-form .gender-btn.male {
  border: 2px solid #fff;
  box-sizing: border-box;
}

.subscription-form .gender-btn.female {
  border: 2px solid #fff;
  box-sizing: border-box;
}

.sub-footer.max-width div i {
  margin-right: 15px;
  color: #ffffff;
}

.long-line {
  border-top: 1px solid #000;
  width: 100%;
}

.ft_soc a {
  font-size: 42px;
  padding: 8px;
  color: #fff;
  text-decoration: none;
}
.ft_soc a:hover {
  color: #ff9900;
}
.ft_soc a i {
  font-size: 21px;
}
.ft_3_1 {
  padding: 24px 0px 0px;
  margin: 0px 0px 16px;
}
.ft_social {
  font-size: 12px;
  color: #ffffff;
}

/* .ft_2 {
  margin: 0px 56px;
  padding: 0px 0px 24px;
  border-bottom: 1px solid #f1f1f2;
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
} */
